<!DOCTYPE html>
<html lang="en">

<head>
  <script defer src="https://umami.fiddl.animus.is/script.js"
    data-website-id="a6295092-8b12-42b8-ab4c-de684673248d"></script>

  <link rel="canonical" href="https://fiddl.art" id="canonical-link">

  <!-- Primary Meta Tags -->
  <title>Fiddl.art</title>
  <meta name="title" content="Fiddl.art" />
  <meta name="description" content="Create and earn with generative art." />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <!-- <meta property="og:url" content="https://alpha.fiddl.art/r/StxXwHQySwGBzFrsGFJKIQ?index=0" /> -->
  <meta property="og:title" content="Fiddl.art" />
  <meta property="og:description" content="Create and earn with generative art." />
  <meta property="og:image" content="/fiddlSocialCard.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary" />
  <!-- <meta property="twitter:url" content="https://alpha.fiddl.art/r/StxXwHQySwGBzFrsGFJKIQ?index=0" /> -->
  <meta property="twitter:title" content="Fidd.art" />
  <meta property="twitter:description" content="Create and earn with generative art." />
  <meta property="twitter:image" content="/fiddlSocialCard" />
  <meta name="twitter:site" content="@fiddlart">

  <meta name="robots" content="index, follow">
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>
