@use "sass:color"

$primary   : #00adc7
$secondary :  color.adjust(#ff5a5f, $lightness: 1.8%)

$accent    : #cb5a5e

$dark      : #2c2f33
$dark-page : #2C2F33

$positive  : #3e53c7
$negative  : #a65000
$info      : #496ee7
$warning   : #781c1c

$indigo: #3f51b5
$indigo-5: #3f51b5

$translucent: rgba(0,0,0,0.5)
